<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shipment Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Shipment Management System</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('shipment_bp.view_shipments') }}">View Shipments</a></li>
                    <li><a href="{{ url_for('shipment_bp.create_shipment') }}">Create Shipment</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="update-form">
            <h1>Update Shipment Status</h1>
            <form id="updateStatusForm" action="{{ url_for('shipment_bp.update_shipment') }}" method="GET">
                <label for="trackingNumberInput">Enter Tracking Number:</label>
                <input type="text" id="trackingNumberInput" name="trackingNumber" required>
                <input type="submit" value="Update Shipment">
            </form>
        </div>
    </div>
</body>
</html>
